@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-light-gray);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 100px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
}

.attribution a {
  color: var(--blue);
}

.section__heading {
    text-align: center;
}

.heading__title {
    font-size: 2.4rem;
    font-weight: 200;
    color: var(--very-dark-blue);
}

.heading__title--bold {
    font-weight: 600;
}

.heading__info {
    color: var(--grayish-blue);
    font-size: 1.05rem;
    width: 580px;
    margin: 20px auto;
}

.cards {
    margin-top: 60px;
    display: grid;
    grid-template-areas: 
        '. card-red .'
        'card-cyan card-red card-blue'
        'card-cyan card-orange card-blue'
        '. card-orange .'
    ;
    gap: 25px;
}

.card {
    box-shadow: 0 10px 35px -15px var(--grayish-blue);
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    padding: 40px 30px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    width: 100%;
    max-width: 380px;
}

.card--cyan {
    grid-area: card-cyan;
    border-top: 4px solid var(--cyan);
}

.card--red {
    grid-area: card-red;
    border-top: 4px solid var(--red);
}

.card--orange {
    grid-area: card-orange;
    border-top: 4px solid var(--orange);
}

.card--blue {
    grid-area: card-blue;
    border-top: 4px solid var(--blue);
}

.card__title {
    color: var(--very-dark-blue);
}

.card__description {
    color: var(--grayish-blue);
}

.card__icon {
    margin-top: 35px;
    justify-self: end;
}

@media screen and (max-width: 900px) {
    .cards {
        grid-template-areas: 
            'card-cyan card-red'
            'card-orange card-blue'
        ;
    }
}

@media screen and (max-width: 600px) {
    .heading__title {
        font-size: 1.7rem;
    }
    
    .heading__info {
        font-size: 1rem;
        width: 100%;
    }

    .cards {
        grid-template-areas: 
            'card-cyan'
            'card-red'
            'card-orange'
            'card-blue'
        ;
    }

    .card {
        justify-self: center;
    }
}