<div class="navbar navbar-info" style="background: #33B5E5;">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand serifbar" href="#/panadmin">
			<center>
				<i class="material-icons">pets</i><br>GeekPet
			</center>
		</a>
	</div>
	<div class="navbar-collapse collapse navbar-responsive-collapse">
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="#/adpedidos" class="serifbar">
					<center>
						<i class="material-icons">store</i><br>Pedidos
					</center>
				</a>
			</li>
			<li>
				<a href="#/adestadisticas" class="serifbar">
					<center>
						<i class="material-icons">show_chart</i><br>Estadisticas
					</center>
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="javascript:void(0)" ng-click="logout()" class="serifbar">
					<center>
						<i class="material-icons">label_outline</i><br>Cerrar Sesión
					</center>
				</a>
			</li>
		</ul>
	</div>
</div>
<h2 class="text-muted divider">Administrar Pedidos</h2>
<hr>
<div class="container-fluid serif">
	<div class="input-group container">
	    <spam class="input-group-addon"><i class="glyphicon glyphicon-search"></i></spam>
	    <input type="text" class="form-control" placeholder="Buscar ..." ng-model="buscar">
	</div>
	<div class="table-responsive col-lg-12">
		<form name="mipedido">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="text-muted">
							<center>Foto</center>
						</th>
						<th class="text-muted">
							<center>Suspendido</center>
						</th>
						<th class="text-muted">
							<center>Nombre</center>
						</th>
						<th class="text-muted">
							<center>Conectado</center>
						</th>
						<th class="text-muted">
							<center>Estado Usuario</center>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="info" ng-repeat="index in usuarios | filter:buscar | orderBy:'-fec_con'">
						<td>
							<center><img ng-src="{{index.img}}" class="img-circle" style="width: 50px; height: 50px;"></center>
						</td>
						<td>
							<center><strong>{{index.suspendido}}</strong></center>
						</td>
						<td>
							<center><a href="#/adusuarios/{{index.email}}" style="font-weight: bold">{{index.usuario}}</a></center>
						</td>
						<td>
							<center>{{index.fec_con | date:'medium'}}</center>
						</td>
						<td>
							<center>
								<button class="btn btn-flat btn-danger" ng-click="suspenderu(index.$id, index.proveedor)" style="font-weight: bold">Suspender</button>
								<button class="btn btn-flat btn-success" ng-click="activaru(index.$id, index.proveedor)" style="font-weight: bold">Activar</button>
							</center>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
<script>
		$(function() {
			$.material.init();
		});
</script>