<div class="navbar navbar-info" style="background: #33B5E5;">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand serifbar" href="#/panadmin">
			<center>
				<i class="material-icons">pets</i><br>GeekPet
			</center>
		</a>
	</div>
	<div class="navbar-collapse collapse navbar-responsive-collapse">
		<ul class="nav navbar-nav">
			<li>
				<a href="#/adpedidos" class="serifbar">
					<center>
						<i class="material-icons">store</i><br>Pedidos
					</center>
				</a>
			</li>
			<li>
				<a href="#/adestadisticas" class="serifbar">
					<center>
						<i class="material-icons">show_chart</i><br>Estadisticas
					</center>
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="javascript:void(0)" ng-click="logout()" class="serifbar">
					<center>
						<i class="material-icons">label_outline</i><br>Cerrar Sesión
					</center>
				</a>
			</li>
		</ul>
	</div>
</div>
<script>
		$(function() {
			$.material.init();
		});
</script>