*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 87.5%; }

body {
  font-family: "Raleway", sans-serif;
  background-color: #0c122c;
  background-image: url(../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  color: #b5bad0;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative; }
  @media only screen and (max-width: 62.5em) {
    body {
      grid-template-columns: 50px 1fr 50px;
      background-size: auto; } }
  @media only screen and (max-width: 37.5em) {
    body {
      grid-template-columns: 20px 1fr 20px;
      background-image: url(../images/bg-mobile.png);
      background-size: cover; } }

.container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-items: center;
  gap: 30px;
  width: 100%;
  min-width: 1000px; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: start;
      min-width: 100%;
      max-width: 1000px; } }

/* @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes accordion {
    from   { opacity: 0; transform: translateX(-100px); }
    to { opacity: 1; transform: translateX(0); }
} */
@keyframes loading {
  from {
    width: 0px; }
  to {
    width: 80%; } }

@keyframes scaleIn {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes bottomTop {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-50%); } }

.option {
  grid-column: 1 / 2;
  background-color: #1d2c67;
  width: 350px;
  height: 200px;
  padding: 40px;
  border-radius: 10px 100px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }
  @media only screen and (max-width: 62.5em) {
    .option {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      max-width: 350px;
      width: 100%; } }
  .option__types {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-content: center;
    gap: 15px;
    cursor: pointer; }
  .option__type {
    background-color: #0c122c;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s; }
    .option__type:hover {
      transform: scale(1.2); }

.progress {
  grid-column: 2 / 3;
  align-self: end;
  background-color: #1d2c67;
  width: 100%;
  height: 150px;
  padding: 40px;
  border-radius: 10px;
  position: relative; }
  @media only screen and (max-width: 62.5em) {
    .progress {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      align-self: start; } }
  @media only screen and (max-width: 50em) {
    .progress {
      height: 180px; } }
  .progress__left {
    position: absolute;
    right: 40px;
    top: -50px;
    width: 200px;
    height: 75px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    color: #0c122c;
    animation: scaleIn 1s cubic-bezier(0.16, 0.76, 0.14, 1.16); }
    @media only screen and (max-width: 50em) {
      .progress__left {
        right: auto;
        top: auto;
        bottom: -20%;
        left: 50%;
        transform: translateX(-50%);
        animation: bottomTop 1s ease; } }
    .progress__left::after {
      width: 40px;
      height: 40px;
      border-top: 40px solid #fff;
      border-right: 0px solid transparent;
      border-left: 40px solid transparent;
      bottom: -26px;
      right: 0;
      content: "";
      position: absolute; }
      @media only screen and (max-width: 50em) {
        .progress__left::after {
          content: none; } }
  .progress__number {
    line-height: 1;
    margin-right: 10px; }
  .progress__detail {
    font-size: 1rem;
    text-transform: uppercase;
    color: #848794; }
  .progress__text {
    font-weight: 400; }
    @media only screen and (max-width: 37.5em) {
      .progress__text {
        text-align: center; } }
    .progress__text--white {
      color: #fff;
      font-weight: 700; }
  .progress__bg {
    width: 100%;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #0c122c;
    border: 3px solid #0c122c;
    position: relative;
    overflow: hidden; }
  .progress__line {
    background-image: linear-gradient(to right, #ffa399 0%, #ff4d97 100%);
    width: 81.5%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    animation: loading 1s ease-in; }
    .progress__line::after {
      content: '';
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translateY(-50%); }
  .progress__info {
    display: flex;
    justify-content: space-between; }
