<nav class="navbar navbar-fixed-top z-depth-1" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-light" href="javascript:void(0)">Chattitu</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-expanded="false">{{perfil.usuario}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0)">Configuración</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)" ng-click="logout()">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br><br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#chatroom">Usuarios Conectados</a>
                        </h4>
                    </div>
                    <div id="chatroom" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div  ng-repeat="usua in inicio | filter:{ online: true }" style="height: 611px; overflow: auto;">
                                <img ng-src="{{usua.img}}" alt="" class="circle" style="border-radius: 50px; width: 50px; height: 50px;">
                                <span class="title">{{usua.usuario}}</span>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">Salon de Chat</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <ul class="collection" id="scr" style="height: 510px; overflow: auto;">
                            <li class="collection-item avatar" ng-repeat="usua in mensajes | toArray:false | orderBy:'fec_mensaje'">
                                <img ng-src="{{usua.foto}}" alt="" class="circle">
                                <span class="title">{{usua.usuario}}</span>
                                <p>{{usua.mensaje}}</p>
                                <p style="font-size: 0.8em; font-weight: bold; text-align: right;">{{usua.fec_mensaje | date:"medium"}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="container-fluid">
                        <form>
                            <div class="col-xs-12 col-sm-10 col-md-10">
                                <div class="input-field">
                                    <i class="material-icons prefix">chat</i>
                                    <input id="icon_email" type="text" class="validate" ng-model="texto">
                                    <label for="icon_email">Escribir mensaje:</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2">
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary btn-rounded btn-block waves-effect waves-light" ng-click="enviarMensaje()">
                                        <i class="material-icons">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).load(function() {
        $("html, body").animate({ scrollTop: $("#src").scrollTop() }, 1000);
    });

</script>