// COLOR VARIABLES
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$gray-light: #f7f7f7;

$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

$white: #fff;
$black: #000;

// FONT VARIABLES
$font-primary: 'Rubik', sans-serif;

// Responsive Breakpoints -> 1em = 16px
$bp-large: 62.5em; // 1000px / 16px = 62.5
$bp-medium: 50em; // 800px / 16px = 50
$bp-small: 37.5em; // 600px / 16px = 37.5

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 112.5%; // 18px/16px = 112.5% -> 1rem = 18px

    @media only screen and (max-width: $bp-large) {
        font-size: 106.25%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 93%;
    }
}

body {
    font-family: $font-primary;
    color: $grayish-blue;
    font-weight: 300;
    line-height: 1.6;
}