.header {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
        height: 100%;
    }

    &__bg {
        width: 35%;
        height: 40%;
        background-color: $soft-blue;
        position: absolute;
        right: 0;
        bottom: 80px;
        z-index: -1;
        border-top-left-radius: 40%;
        border-bottom-left-radius: 40%;

        @media only screen and (max-width: $bp-medium) {
            width: 70%;
            height: 230px;
            top: 179px;
        }

        @media only screen and (max-width: $bp-small) {
            height: 180px;
        }
    }

    &__navigation {
        grid-row: 1 / 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px auto;
    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked ~ &__links {
        display: grid;
    }

    &__hamburger,
    &__close {
        cursor: pointer;
    }

    &__hamburger {
        display: none;

        @media only screen and (max-width: $bp-medium) {
            display: block;
        }
    }

    &__links {
        display: grid;
        grid-template-columns: repeat(4, min-content);
        align-items: center;
        gap: 40px;
        list-style: none;

        @media only screen and (max-width: $bp-medium) {
            display: none;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba($very-dark-blue, .9);
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, min-content) 1fr;
            justify-items: center;
            overflow: hidden;
            z-index: 100;
            gap: 0px;
        }
    }

    &__link {
        @media only screen and (max-width: $bp-medium) {
            width: 90%;
            text-align: center;
            border-bottom: 1px solid rgba($white, .5);
        
            &:nth-child(2) {
                border-top: 1px solid rgba($white, .5);
            }

            .link {
                display: block;
                padding: 20px 0;
                color: $white;
                font-size: 1.1rem;
                font-weight: 400;
    
                &:hover {
                    color: $white;
                    font-weight: 500;
                }
            }
        }
    }

    &__images {
        display: none;

        @media only screen and (max-width: $bp-medium) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 40px auto;
        }
    }

    &__btn {
        @media only screen and (max-width: $bp-medium) {
            text-align: center;
            display: flex;
            justify-content: center;
            width: 90%;
        }
        
        .btn, .btn:hover {
            @media only screen and (max-width: $bp-medium) {
                font-size: 1.1rem;
                background-color: transparent;
                color: $white;
                border: 2px solid $white;
                max-width: 100%;
                margin-top: 20px;
            }
        }

        .btn {
            @media only screen and (max-width: $bp-medium) {
                &:hover {
                    background-color: rgba($white, .5);
                }
            }
        }
    }

    &__socials {
        display: none;

        @media only screen and (max-width: $bp-medium) {
            display: block;
            align-self: end;
            margin-bottom: 40px;
        }
    }

    &__social {
        margin: 0 15px;
    }

    &__hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        height: 60vh;

        @media only screen and (max-width: $bp-large) {
            grid-template-columns: 1fr 50%;
            gap: 60px;
        }

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, min-content);
            height: 100%;    
        }

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, min-content);
            gap: 40px;
        }
    }

    &__left {
        align-self: center;
        display: grid;
        grid-template-rows: repeat(3, min-content);
        row-gap: 40px;
        max-width: 480px;
        width: 100%;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            justify-self: center;
            text-align: center;
        }
    }

    &__buttons {
        display: grid;
        grid-template-columns: max-content max-content;
        gap: 15px;

        @media only screen and (max-width: $bp-medium) {
            justify-self: center;
        }

        .btn {
            @media only screen and (max-width: $bp-small) {
                padding: 10px 15px;
            }
        }
    }

    &__right {
        background-image: url(../images/illustration-hero.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            height: 300px;
        }

        @media only screen and (max-width: $bp-small) {
            height: 245px;
        }
    }
}