.heading-1 {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    text-align: center;
}

.heading-2 {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1;
    text-align: center;
}

.heading-3 {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1;
}

.paragraph-1,
.paragraph-2,
.paragraph-3 {
    color: $grayish-blue;
}

.paragraph-1 {
    font-size: .96rem;
    text-align: center;
}

.paragraph-2 {
    font-size: .95rem;
}

.paragraph-3 {
    font-size: .8rem;
}

.link {
    font-weight: 400;
    color: $dark-grayish-blue;
    text-decoration: none;
    font-size: .9rem;

    &:hover {
        color: $strong-cyan;
    }
}

.btn {
    color: #fff;
    border: none;
    border-radius: 1.38rem;
    font-size: .8rem;
    padding: 16px 40px;
    cursor: pointer;
    transition: all .2s;
    letter-spacing: 0.083rem;
    outline: 0;
    width: 220px;

    &:hover {
        opacity: .7;
        transform: translateY(-2px);
    }

    @media only screen and (max-width: $bp-small) {
        width: 100%;
    }

    &--primary {
        justify-self: end;
        background-color: $strong-cyan;
        box-shadow: 0px 14px 1px -12px rgba($strong-cyan, .7), 0 5px 8px 1px rgba($strong-cyan, .3);
    }

    &--secondary {
        justify-self: start;
        background-color: $light-blue;
        box-shadow: 0px 14px 1px -12px rgba($light-blue, .7), 0 5px 8px 1px rgba($light-blue, .3);
    }
}

.spacing {
    max-width: 660px;
    width: 90%;
    margin: 0 auto;

    @media only screen and (max-width: $bp-small) {
        width: 85%;
    }
}

.separator-1 {
    margin-bottom: 5rem;
}

.separator-2 {
    margin-bottom: 2.5rem;
}

.separator-3 {
    margin-bottom: 1rem;
}

.separator-4 {
    margin-bottom: .7rem;
}