@keyframes loading {
    from { width: 0px; }
    to { width: 80%; }
}

@keyframes scaleIn {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

@keyframes bottomTop {
    from { 
        transform: translateX(0);
    }
    to { 
        transform: translateX(-50%);
    }
}