// COLOR VARIABLES
$gradient-1: hsl(6, 100%, 80%);
$gradient-2: hsl(335, 100%, 65%);

$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);

$primary-text: #b5bad0;

$white: #fff;
$black: #000;

// FONT VARIABLES
$font-primary: 'Raleway', sans-serif;

// Responsive Breakpoints -> 1em = 16px
$bp-large: 62.5em; // 1000px / 16px = 62.5
$bp-medium: 50em; // 800px / 16px = 50
$bp-small: 37.5em; // 600px / 16px = 37.5

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 87.5%; // (14 / 16) * 100 = 87.5% -> 1rem = 14px
}

body {
    font-family: $font-primary;
    background-color: $very-dark-blue;
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    color: $primary-text;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 50px 1fr 50px;
        background-size: auto;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 20px 1fr 20px;
        background-image: url(../images/bg-mobile.png);
        background-size: cover;

    }
}

.container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-items: center;
    gap: 30px;
    width: 100%;
    min-width: 1000px;

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: start;
        min-width: 100%;
        max-width: 1000px;
    }
}