// COLOR VARIABLES
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);

$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

$footer-background: #F5F6F8;

// FONT VARIABLES
$font-primary: 'Bai Jamjuree', sans-serif;

// Responsive Breakpoints -> 1em = 16px
$bp-large: 62.5em; // 1000px / 16px = 62.5
$bp-medium: 50em; // 800px / 16px = 50
$bp-small: 37.5em; // 600px / 16px = 37.5

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 112.5%; // 18px/16px = 112.5% -> 1rem = 18px

    @media only screen and (max-width: $bp-small) {
        font-size: 93%;
    }
}

body {
    font-family: $font-primary;
    color: $dark-grayish-blue;
    font-weight: 300;
    line-height: 1.6;
}
