.footer {
    background-color: $footer-background;

    &__container {
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        align-items: center;
        column-gap: 1rem;
        row-gap: 2rem;
        width: 90%;
        margin: auto;
        padding: 2rem 0;

        @media only screen and (max-width: $bp-small) {
            width: 100%;
            grid-template-columns: 1fr;
            justify-content: center;
            text-align: center;
        }
    }

    &__logo {
        width: 50px;
        height: 50px;

        @media only screen and (max-width: $bp-small) {
            margin: 0 auto;
        }
    }

    &__links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
        margin: 0 3rem;

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
        }
    }

    &__socials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: .9rem;
        row-gap: 3rem;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            margin-top: 1rem;
            grid-template-columns: repeat(3, min-content);
            justify-content: center;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            path {
                fill: $strong-cyan;
            }
        }

        path {
            fill: $dark-grayish-blue;
        }
    }

    &__attribution {
        background-color: #fff;
        text-align: center;
        padding: 1rem 2rem;
        color: $dark-grayish-blue;
    }

    &__ref {
        &:first-child {
            color: $strong-cyan;
        }

        &:last-child {
            color: $light-blue;
        }
    }
}