*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Rubik", sans-serif;
  background-image: radial-gradient(#36455C, #182142);
  height: 100vh;
  font-weight: 300;
  line-height: 1.6; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes accordion {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.header {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  max-width: 1000px;
  width: 85%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px; }
  @media only screen and (max-width: 37.5em) {
    .header__logo {
      width: 70px; } }
  .header__score {
    background-color: #fff;
    border-radius: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .header__score {
        width: 100px; } }
  .header__text {
    font-size: 16px;
    color: #36455C;
    text-transform: uppercase;
    font-weight: 500; }
    @media only screen and (max-width: 37.5em) {
      .header__text {
        font-size: 12px; } }
  .header__points {
    color: #182142;
    font-size: 60px;
    font-weight: 500;
    line-height: 1; }
    @media only screen and (max-width: 37.5em) {
      .header__points {
        font-size: 40px; } }

.selector {
  background-image: url(../images/bg-pentagon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 329px;
  height: 500px;
  margin: 0 auto;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .selector {
      width: 210px;
      height: 400px; } }
  .selector__type {
    background-color: #fff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid transparent;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .selector__type {
        width: 80px;
        height: 80px; } }
    .selector__type--scissors {
      border-color: #EEA219;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%); }
    .selector__type--paper {
      border-color: #4C67F6;
      position: absolute;
      top: 40%;
      right: -60px;
      transform: translateY(-40%); }
    .selector__type--rock {
      border-color: #DB3855;
      position: absolute;
      bottom: 30px;
      right: 0; }
    .selector__type--lizard {
      border-color: #8D5DE7;
      position: absolute;
      bottom: 30px;
      left: 0; }
    .selector__type--spock {
      border-color: #4CBCD2;
      position: absolute;
      top: 40%;
      left: -60px;
      transform: translateY(-40%); }
